*{
    /*background-color: black;*/
    background: linear-gradient(to top left, black, white);
    color: blanchedalmond;
    background-attachment: fixed;
}

img#yellowBalloon{
    width: 100px;
    height: 132px;
}

#wrapper{
    text-align: center;
    max-width: 400px;
    margin: auto;
}